#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    color: black;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
    color: #fff;
}

.high-score:hover {
    transform: scale(1.025);
}

.btnOne {
    display: flex;
    justify-content: space-evenly;
}

span {
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.share_twitter {
    color: #fff;
    background: #00ACEE;
    border: 2px solid #00ACEE;
    padding: 2px;
    cursor: pointer;
}

.share_facebook {
    color: #fff;
    background: #3b5998;
    border: 2px solid #3b5998;
    padding: 2px;
    cursor: pointer;
}