* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #181818;
}

.wrapper {
    position: absolute;
    width: 90%;
    max-width: 37em;
    background-color: #ffffff;
    padding: 7em 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 1em;
    border: #181818 groove 5px;
}

.controls-container {
    /* background-color: #b22c33; */
    background: url("/Mots/assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
}

#start {
    font-size: 1.1em;
    padding: 0.7em 2.6em;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
}

#letter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 0.4em;
    justify-content: center;
    margin-top: 2em;
}

#letter-container button {
    background-color: #ffffff;
    border: 2px solid #b22c33;
    color: #b22c33;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 3em;
    width: 3em;
}

#letter-container .correct {
    background-color: #008000;
    color: #ffffff;
    border: 2px solid #008000;
}

#letter-container .incorrect {
    background-color: red;
    color: #ffffff;
    border: 2px solid red;
}

.hint-ref {
    margin-bottom: 1em;
}

.hint-ref span {
    font-weight: 600;
}

#chanceCount {
    margin: 2em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
}

#score {
    margin: 2em 0;
    position: absolute;
    top: 0.62em;
    left: 2em;
    font-weight: 700;
    color: #b22c33;
}

#word {
    font-weight: 600;
    margin: 1em 0 2em 0;
}

#word span {
    text-transform: uppercase;
    font-weight: 400;
}

.hide {
    display: none;
}

#result {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

#scoreFinal {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

#photo {
    animation: shake-animation 4.72s ease infinite;
    transform-origin: 50% 50%;
    margin: 0 auto;
}

@keyframes shake-animation {
    0% {
        transform: translate(0, 0)
    }
    1.78571% {
        transform: translate(5px, 0)
    }
    3.57143% {
        transform: translate(0, 0)
    }
    5.35714% {
        transform: translate(5px, 0)
    }
    7.14286% {
        transform: translate(0, 0)
    }
    8.92857% {
        transform: translate(5px, 0)
    }
    10.71429% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}


/* description du jeux */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 200px;
}

.container p {
    position: absolute;
    width: 400px;
    height: 100%;
    margin: 20px;
    line-height: 50px;
    /* text-align: center; */
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    -moz-animation: bouncing-text 5s linear infinite alternate;
    -webkit-animation: bouncing-text 5s linear infinite alternate;
    animation: bouncing-text 10s linear infinite alternate;
}

@-moz-keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
    }
}

@-webkit-keyframes bouncing-text {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(-50%);
    }
}

@keyframes bouncing-text {
    0% {
        -moz-transform: translateX(50%);
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}